.btn {
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 30px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px #0008;
    text-align: center;
}

.btn:hover {
    box-shadow: 0 4px 10px #000c;
}

.btn.circle {
    width: 40px;
    border-radius: 50%;
}
.btn.btn-main-color {
    background-color: var(--main-color);
    color: #fff;
}
.btn.btn-secondary-color {
    background-color: var(--secondary-color);
    color: #fff;
}
.btn.btn-secondary-color:hover {
    background-color: var(--secondary-color);
    color: #fff;
}