.clock {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    color: white;
}

.clock > div.numbers {
    font-size: 80px;
    color: white;
    font-weight: 900;
    justify-content: center;
}

.clock > div.time {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    justify-content: center;
}