/* custom CSS - everything else that wasn't styled with components */

.container.hero {
    padding-bottom: var(--section-padding);
    background-image: url(../img/hero-image.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

footer.container {
    padding-top: 0;
    padding-bottom: calc(var(--section-padding) * 1.5);
}
    footer.container > .row-short {
        margin-top: var(--section-padding);
    }

    .bg-main-color {
        background-color: var(--main-color);
    }

.hero {
    text-align: center;
}

.hero img {
    height: 40px;
    margin-bottom: calc(var(--hero-space) * 2);
}

.hero h1 {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    color: #000;
    margin-bottom: var(--hero-space);
}

.hero p {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: var(--grey-color);
    margin-bottom: calc(var(--hero-space) * 3);
}

.hero .clock {
    margin-bottom: calc(var(--hero-space) * 2);
}

.hero .form {
    margin-bottom: var(--hero-space);
}

main h2 {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: var(--main-space);
    color: #000;
    font-size: 18px;
}

main p {
    display: inline-block;
    width: 100%;
    margin-bottom: var(--main-space);
    font-size: 17px;
    line-height: 26px;
    color: var(--grey-color);
}

main p > a {
    color: var(--secondary-color);
    text-decoration: none;
}

main .form > .btn {
    float: right;
}

footer {
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #fff8;
}

    footer .text-trio {
        display: inline-block;
        width: 100%;
    }
        footer .text-trio > .text {
            display: inline-block;
            padding: 0 10px;
            position: relative;
        }
            footer .text-trio > .text::before {
                display: inline-block;
                content: '';
                width: 1px;
                height: 14px;
                background-color: #fff; 
                position: absolute;
                left: -2px;
                top: 9px;
            }
/* footer .text-trio > .text::after {
} */
            footer .text-trio > .text:first-of-type::before {
                display: none;
            }
footer p {
    display: inline-block;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer.container > .row {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
}

footer .fa {
    display: inline-block;
    color: #fff;
    padding: 10px;
    line-height: 20px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s;
}

    footer .fa:hover {
        background-color: #fff;
        color: var(--main-color);
    }

@media (max-width: 700px) {
    footer .text-trio > .text {
        width: 100%;
        padding: 0;
    }

    footer .text-trio > .text::before {
        display: none;
    }
}