.form {
    display: inline-block;
    width: 100%;
}
    .form-row {
        display: inline-block;
        width: 100%;
    }

    .form-row-short {
        display: inline-block;
        float: left;
        width: 40%;
    }
    .form-row-short:last-of-type {
        margin-left: 50px
    }

.btn {
    display: inline-block;
    font-size: 10px;
    padding: 10px 40px;
    background-color: crimson;
    color: white;
    margin: 20px 0;
}

.input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
}